// Colors
$primary: #4460f7;
$darker: #2140e8;
$active: #f9a52b;
$grey1: #f0f1f5;
$grey2: #e0e2ea;
$grey3: #b9bdcf;
$grey4: #9194a5;
$grey5: #1a1b1d;
$white: #FFFFFF;
$black: #000000;
$accent: #c5cbe1;
$background: #f8f8fa;

// Breakpoints
$mobile: 320px;
$mobileLandscape: 568px;
$tablet: 768px;
$tabletLandscape: 1024px;
$desktop: 1200px;
$largeDesktop: 1600px;
